* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.intro {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
}
.intro h1 {
  width: 890px;
  font-family: "Outfit", sans-serif;
  font-size: 50px;
  margin-top: 20px;
  /* background-color: beige; */
  line-height: 75px;
  margin-bottom: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.intro h1 span {
  font-weight: 900;
}
.watch-video,
.p2 {
  background-color: rgb(255, 131, 0);
  color: black;
  padding: 15px;
  margin-top: 20px;
  border: 2px solid rgb(255, 131, 0);
}
.watch-video p {
  width: 900px;
  font-weight: 700;
  letter-spacing: 1.3px;
  font-family: "Jost", sans-serif;
}
.watch-video:hover {
  background-color: transparent;
  border: 2px solid rgb(255, 131, 0);
  color: white;
  cursor: pointer;
}
.diff {
  font-size: 20px;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  width: 900px;
  letter-spacing: 0.2px;
}
.video-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.video-p1 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 23px;
  text-transform: capitalize;
  margin-top: 30px;
  width: 950px;
  text-align: center;
  margin-bottom: 20px;
}
.video-p1 strong {
  font-weight: 900;
}
.video-main {
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 3px 0px;
  perspective: 150px;
}
.video-section h5 {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: capitalize !important;
  margin-bottom: 30px;
}
.p2 {
  width: 950px;
  font-size: 17px;
  line-height: 1.2em;
}
.p2 p {
  width: 900px;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-family: "Jost", sans-serif;
  text-align: center;
}
.p2:hover {
  background-color: rgb(108, 110, 122);
  color: white;
  cursor: pointer;
}
